
@{
    ViewBag.Title = "success";
}
<style>
    .food {
        background: none;
    }
</style>
<main>

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Contact Us</h2>
                </div>
                <div class="col-12">
                    <a href="">Home</a>
                    <a href="">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->
    <div class="food mt-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="food-item">
                        <i class="flaticon-burger"></i>
                        <h2>Inquiry Successfully sent</h2>
                        <p>
                            Thank you for reaching out to us!
                        </p>
                        <p>Our message has been successfully received. Our administration team will review your inquiry and will be in touch with you shortly to address any questions or concerns you may have. We appreciate your interest in Street Restaurant and look forward to assisting you. Thank you for contacting us!</p>
                        <a href="@Url.Action("Menu","Home")">View Menu</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
$(document).ready(function () {
    $('.nav-item').removeClass('active');
    $('#nav-contact').addClass('active');
});
    </script>
</main>

